<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MaintainancePortal</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.rcpit.controllers.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.rcpit.controllers.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDept</display-name>
    <servlet-name>AddDept</servlet-name>
    <servlet-class>com.rcpit.controllers.AddDept</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDept</servlet-name>
    <url-pattern>/AddDept</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelDept</display-name>
    <servlet-name>DelDept</servlet-name>
    <servlet-class>com.rcpit.controllers.DelDept</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelDept</servlet-name>
    <url-pattern>/DelDept</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mdel</display-name>
    <servlet-name>Mdel</servlet-name>
    <servlet-class>com.rcpit.controllers.Mdel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mdel</servlet-name>
    <url-pattern>/Mdel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRoadMain</display-name>
    <servlet-name>AddRoadMain</servlet-name>
    <servlet-class>com.rcpit.controllers.AddRoadMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRoadMain</servlet-name>
    <url-pattern>/AddRoadMain</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddHelplineNo</display-name>
    <servlet-name>AddHelplineNo</servlet-name>
    <servlet-class>com.rcpit.controllers.AddHelplineNo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddHelplineNo</servlet-name>
    <url-pattern>/AddHelplineNo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ULogin</display-name>
    <servlet-name>ULogin</servlet-name>
    <servlet-class>com.rcpit.controllers.ULogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ULogin</servlet-name>
    <url-pattern>/ULogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>URegister</display-name>
    <servlet-name>URegister</servlet-name>
    <servlet-class>com.rcpit.controllers.URegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>URegister</servlet-name>
    <url-pattern>/URegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddComplaints</display-name>
    <servlet-name>AddComplaints</servlet-name>
    <servlet-class>com.rcpit.controllers.AddComplaints</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddComplaints</servlet-name>
    <url-pattern>/AddComplaints</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeptLogin</display-name>
    <servlet-name>DeptLogin</servlet-name>
    <servlet-class>com.rcpit.controllers.DeptLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeptLogin</servlet-name>
    <url-pattern>/DeptLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Comment</display-name>
    <servlet-name>Comment</servlet-name>
    <servlet-class>com.rcpit.controllers.Comment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Comment</servlet-name>
    <url-pattern>/Comment</url-pattern>
  </servlet-mapping>
</web-app>